<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kokoda.demo.mapper.BonusMapper">
  <resultMap id="BaseResultMap" type="cn.kokoda.demo.pojo.Bonus">
    <!--@mbg.generated-->
    <!--@Table bonus-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="bonus" jdbcType="INTEGER" property="bonus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, emp_id, reason, bonus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bonus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bonus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kokoda.demo.pojo.Bonus" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bonus (user_id, emp_id, reason, 
      bonus)
    values (#{userId,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{bonus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.kokoda.demo.pojo.Bonus" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bonus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kokoda.demo.pojo.Bonus">
    <!--@mbg.generated-->
    update bonus
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kokoda.demo.pojo.Bonus">
    <!--@mbg.generated-->
    update bonus
    set user_id = #{userId,jdbcType=INTEGER},
      emp_id = #{empId,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-12-28-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bonus
    where user_id=#{userId,jdbcType=INTEGER}
  </select>
</mapper>